<!--登入錯誤訊息-->
{{#if login_error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ login_error }}
  <button type="button" class="close"  data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

<!--註冊錯誤訊息-->
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ this.message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}

<!--登出成功訊息-->
{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ success_msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

<!--提醒登入訊息-->
{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ warning_msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}